<div class="column-layout_1 column">
  <h1 class="title">Welcome to CodeSwifterStarter App</h1>
  <div class="text">Here you can test a few services which are the part of the boilerplatte project.</div>
  <div class="text">Please inspect <u>app.component.ts</u> source code to see how they are invoked.</div>
  <div class="column-layout_2 column">
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button" (click)="showToastMessage()">
      Toast Message
    </button>
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button" (click)="showToastAlert()">
      Toast Alert
    </button>
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button"
            (click)="showConfirmationDialog()">
      Confirmation Dialog
    </button>
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button" (click)="showMessage()">
      Message
    </button>
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button" (click)="toogleTheme()">
      Dark/Light Theme
    </button>
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button" (click)="signOut()"
            *ngIf="(isAuthenticated.stream$ | async)">
      Sign Out ({{ signInInformation.stream$ | async }})
    </button>
    <button mat-raised-button [disabled]="false" color="primary" class="raised-button" (click)="signIn()"
            *ngIf="!(isAuthenticated.stream$ | async)">
      Sign In
    </button>
    <div class="text" *ngIf="!(isAuthenticated.stream$ | async)">
      {{ signInInformation.stream$ | async }}
    </div>
  </div>
  <p class="text">For more tutorials please visit <a href="https://www.youtube.com/channel/UCCeMaNWjckkbWjxdWXTfcGA"
       target="_blank">CodeSwifter YouTube Channel</a></p>
</div>